@mixin linearGradient ($clr1: purple, $clr2: blue, $deg: 45deg) {
  background-image: linear-gradient($deg, $clr1, $clr2);
  color: white;
}

@mixin pseudo-underline ($width, $height, $bg) {
  content: '';
  display: block;
  width: $width;
  height: $height;
  background-color: $bg;
  margin: 2rem auto;

}

@mixin ui-element ($size, $clr, $bg-clr, $hvr-clr: white) {
  padding: $size $size * 1.61;
  color: $clr;
  background-color: $bg-clr;

  &:hover, &:focus {
    color: $hvr-clr;
    background-color: rgba($bg-clr, 0.8);
  }
}

body {
  font-family: system-ui;
  margin: 0;
}

.section-one,
.section-two,
.section-three {
  text-align: center;
  padding: 10vh 0;

}

.title::after {
  @include pseudo-underline (5rem, 1px, white);
}

.section-one {
  @include linearGradient;
}

.section-two {
  @include linearGradient(green, yellow);
}

.section-three {
  @include linearGradient($deg: -45deg, $clr1:rgb(231, 83, 108), $clr2:rgb(87, 212, 93));
}

.button-one {
  @include ui-element(10px, white, blue);
}

.button-two {
  @include ui-element(1rem, white, rgb(26, 68, 21));
}

.button-three {
  @include ui-element(1rem, white, rgb(187, 31, 166));
}

.badge {

  &--one {
  @include ui-element(10px, white, blue)
  }
  &--two {
  @include ui-element(10px, white, rgb(212, 6, 6))
  }
}